:root {
  --color-primary: #ffa800;
  --color-secondary: #f9ba23;
  --color-accent: #f94623;
  --color-accent-alt: #fba847;
  --color-success: #0d6402;
  --color-success-alt: #0d6302;
  --color-info: #00acee;
  --color-facebook: #3b5999;
  --color-white: #fff;
  --color-light: #f2f2f2;
  --color-light-alt: #f3f3f3;
  --color-light-gray: #d5ddd7;
  --color-light-gray-alt: #eaeaea;
  --color-gray: #bdbdbd;
  --color-gray-dark: #3a3a3a;
  --color-dark: #444;
  --color-black: #000;
  --color-border: #ccc;
  --color-error: #c10000;
  --font-main: "Tahoma";
  --font-alt: "Nirmala";
  --font-pixel: "Pixellari";
  --font-title: "Teko";
  --space-xs: 4px;
  --space-s: 5px;
  --space-m: 10px;
  --space-l: 15px;
  --space-xl: 20px;
  --space-xxl: 25px;
  --space-xxxl: 30px;
  --border-radius-s: 4px;
  --border-radius-m: 5px;
  --border-radius-circle: 58px;
  --font-size-xs: 10px;
  --font-size-s: 11px;
  --font-size-m: 14px;
  --font-size-l: 15px;
  --font-size-xl: 16px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 25px;
  --font-size-title: 3rem;
  --font-size-subtitle: 2rem;
  --font-size-rank: 45px;
  --font-size-member: 18px;
  --font-size-banner: 45px;
}
@font-face {
  font-family: "Pixellari";
  font-style: normal;
  font-weight: 400;
  src: local("../fonts/pixellari.ttf"),
    url("../fonts/pixellari.ttf") format("ttf");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Pixellari";
  font-style: normal;
  font-weight: 400;
  src: local("../fonts/pixellari.ttf"),
    url("../fonts/pixellari.ttf") format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 400;
  src: local("../fonts/tahoma.ttf"), url("../fonts/tahoma.ttf") format("ttf");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 400;
  src: local("../fonts/tahoma.ttf"), url("../fonts/tahoma.ttf") format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Nirmala";
  font-style: normal;
  font-weight: 400;
  src: local("../fonts/tahoma.ttf"), url("../fonts/tahoma.ttf") format("ttf");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Nirmala";
  font-style: normal;
  font-weight: 400;
  src: local("../fonts/nirmala.ttf"), url("../fonts/nirmala.ttf") format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}
html,
body {
  background-image: url("https://i.imgur.com/9qehJqr.png");
  font-family: var(--font-main);
}
.btn100 {
  width: 100%;
}
nav {
  background-color: var(--color-primary);
  font-family: var(--font-title);
}
nav li,
nav a {
  font-family: var(--font-title);
}
nav a {
  font-size: 1.3em !important;
}
.page-footer {
  background-color: var(--color-primary);
  font-family: var(--font-main);
}
.timeline-Header {
  display: none;
}
#captcha_element {
  margin-top: var(--space-m);
}
#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -105px 0 0 0 !important;
  z-index: -999999;
  opacity: 0;
}
#login {
  background: var(--color-secondary);
  font-family: var(--font-alt);
  padding: var(--space-xl) !important;
  width: fit-content !important;
}
#login form {
  outline: none;
}
#login form label {
  color: var(--color-black);
  display: block;
  font-size: var(--font-size-xxxl);
  font-weight: bold;
  outline: none;
  text-transform: uppercase;
}
#login form input[type="text"],
#login form input[type="password"] {
  display: block;
  font-family: var(--font-alt);
  height: 40px;
  padding-left: var(--space-m);
  width: 100%;
}
.destaques {
  background-color: var(--color-white);
  border: 1px solid var(--color-light-gray);
  margin-bottom: var(--space-xl);
  margin-top: var(--space-m);
  padding: var(--space-xl);
  width: 100%;
}
.destaques img {
  width: 100%;
}
.destaques .noticia {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100px;
  margin-top: 1px;
  overflow: hidden;
  transition: all ease 0.5s;
  z-index: 1;
}
.destaques .noticia a {
  background: rgba(0, 0, 0, 0.3);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xl);
  font-weight: bold;
  height: 100%;
  justify-content: space-between;
  padding: var(--space-m);
  text-shadow: 2px 2px var(--color-black);
  text-transform: uppercase;
}
.destaques .noticia a .categoria {
  background: var(--color-primary);
  border-radius: var(--border-radius-s);
  font-size: var(--font-size-xs);
  padding: var(--space-xs);
  text-shadow: none;
  width: fit-content;
}
.destaques .noticia a .por {
  display: none;
  font-size: var(--font-size-xs);
  font-weight: normal;
  text-shadow: none;
}
.destaques .noticia a p {
  margin: unset;
}
.destaques .noticia.show {
  height: 130px;
  z-index: 2;
}
.destaques .noticia.show a .por {
  display: block;
}
.categorias,
.c_criacao,
.colunas,
.destaque,
.equipe,
.leia_mais,
.mais_lidas,
.publicidade,
.sobre,
.twitter {
  background-color: var(--color-white);
  border: 1px solid var(--color-light-gray);
  margin-bottom: var(--space-xl);
  padding: var(--space-xl);
}
.categorias h1,
.colunas h1,
.destaque h1,
.equipe h1,
.leia_mais h1,
.mais_lidas h1,
.publicidade h1,
.twitter h1 {
  font-family: var(--font-title);
  font-size: var(--font-size-l);
  font-weight: bold;
  margin: unset;
  margin-bottom: var(--space-s);
  text-transform: uppercase;
}
.colunas .coluna {
  color: var(--color-black);
  height: 245px;
  margin-right: var(--space-s);
  width: 165px;
}
.colunas .coluna h5 {
  font-family: var(--font-title);
  font-size: var(--font-size-l);
  font-weight: bold;
  margin: unset;
  text-align: center;
  text-transform: uppercase;
}
.colunas .coluna .noticia {
  align-items: flex-end;
  color: var(--color-white);
  display: flex;
  font-size: var(--font-size-l);
  font-weight: bold;
  height: 231px;
  padding-bottom: 30px;
  padding-left: var(--space-s);
  text-shadow: 2px 2px var(--color-black);
  text-transform: uppercase;
}
.leia_mais a {
  color: var(--color-black);
}
.leia_mais .noticia {
  display: flex;
  margin-bottom: var(--space-m);
}
.leia_mais .noticia .imagem {
  background-position: center;
  height: 115px;
  width: 240px;
}
.leia_mais .noticia .conteudo {
  margin-top: -6px;
  max-width: 330px;
  padding-left: var(--space-xl);
}
.leia_mais .noticia .conteudo p {
  margin: unset;
}
.leia_mais .noticia .conteudo p:nth-child(1) {
  color: var(--color-accent);
  font-size: var(--font-size-xxl);
  font-weight: bold;
}
.leia_mais .noticia .conteudo p:nth-child(2) {
  font-size: var(--font-size-xs);
}
.leia_mais .noticia .conteudo p:nth-child(3) {
  font-size: var(--font-size-m);
}
.categorias a {
  color: var(--color-accent);
  display: block;
  font-size: var(--font-size-xxl);
  font-weight: bold;
}
.mais_lidas .mais_lida {
  display: flex;
}
.mais_lidas .mais_lida .rank {
  color: var(--color-black);
  font-size: var(--font-size-rank);
  font-weight: bold;
  text-align: center;
}
.mais_lidas a:nth-child(1) .rank {
  color: var(--color-secondary);
}
.mais_lidas a:nth-child(2) .rank {
  color: #787775;
}
.mais_lidas a:nth-child(3) .rank {
  color: var(--color-accent-alt);
}
.mais_lidas .mais_lida .noticia {
  align-items: center;
  display: flex;
  justify-content: center;
}
.mais_lidas .mais_lida .banner {
  background-position: center;
  height: 55px;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-left: var(--space-s);
  margin-right: var(--space-xl);
  width: 116px;
}
.mais_lidas .mais_lida p {
  color: var(--color-accent);
  font-size: var(--font-size-l);
  font-weight: bold;
  text-align: justify;
  width: 88px;
}
.destaque .membro_destaque {
  background-color: var(--color-primary);
  height: 90px;
  margin-top: var(--space-xxl);
  max-width: 275px;
  position: relative;
}
.destaque .membro_destaque div {
  background-position-x: -30px;
  background-position-y: -40px;
  bottom: 0;
  height: 115px;
  left: 0;
  position: absolute;
  width: 80px;
}
.destaque .membro_destaque p {
  color: var(--color-white);
  font-size: var(--font-size-xxl);
  font-weight: bold;
  position: absolute;
  right: var(--space-s);
  bottom: var(--space-xl);
  width: 155px;
}
.sobre h1,
.c_criacao h1 {
  color: var(--color-primary);
  font-size: var(--font-size-title);
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.sobre h5,
.c_criacao h5 {
  color: var(--color-primary);
  font-size: var(--font-size-subtitle);
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.sobre .divider,
.c_criacao .divider {
  background: unset;
  border: 1px solid var(--color-primary);
  height: 6px;
}
.sobre strong,
.c_criacao strong {
  font-weight: bold;
}
.sobre .breadcrumb,
.sobre .breadcrumb:before,
.c_criacao .breadcrumb,
.c_criacao .breadcrumb:before {
  color: var(--color-black);
  font-size: var(--font-size-xs);
  font-weight: 900;
}
.sobre .breadcrumb:nth-child(1),
.c_criacao .breadcrumb:nth-child(1) {
  color: var(--color-primary);
}
.sobre .breadcrumb:before,
.c_criacao .breadcrumb:before {
  margin: unset;
  vertical-align: middle;
}
.facebook-share-button,
.twitterr-share-button {
  align-items: center;
  color: var(--color-white);
  display: flex;
  font-size: var(--font-size-s);
  font-weight: 900;
  height: 30px;
  justify-content: center;
  margin: var(--space-m);
  text-align: center;
  width: 110px;
}
.facebook-share-button {
  background: var(--color-facebook);
}
.twitterr-share-button {
  background: var(--color-info);
}
#share {
  border: 1px solid var(--color-light-gray-alt);
  color: var(--color-error);
  font-size: var(--font-size-s);
  height: 30px;
  line-height: 30px;
  margin-right: var(--space-xl);
  position: relative;
  text-align: center;
  width: 30px;
}
#share:after {
  border-color: transparent transparent transparent var(--color-white);
  border-style: solid;
  border-width: 10px;
  content: "";
  display: block;
  position: absolute;
  right: -22px;
  top: 4px;
}
#share:before {
  border-color: transparent transparent transparent var(--color-border);
  border-style: solid;
  border-width: 12px;
  content: "";
  display: block;
  position: absolute;
  right: -25px;
  top: 2px;
}
.sobre .titulo {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.sobre .por {
  color: var(--color-gray);
  margin: 0;
}
.sobre .noticia {
  margin-top: var(--space-m);
  text-align: center;
}
.sobre .noticia p {
  margin: 0;
}
.comentarios .comentario {
  display: flex;
}
.comentarios .comentario .avatar {
  margin-right: var(--space-m);
  width: 63px;
}
.comentarios .comentario .info {
  flex: 1 1;
}
.comentarios .comentario .info .texto {
  background: var(--color-white);
  border-radius: var(--border-radius-s);
  color: var(--color-dark);
  font-size: var(--font-size-m);
  margin-top: var(--space-m);
  padding: var(--space-l);
  position: relative;
}
.comentarios .comentario .info .texto:before {
  border-bottom: 6px solid transparent;
  border-right: 6px solid var(--color-primary);
  border-top: 5px solid transparent;
  content: " ";
  height: 0;
  left: -6px;
  position: absolute;
  top: 16px;
  width: 0;
}
.comentarios .comentario .info .autor {
  color: var(--color-black);
  font-size: var(--font-size-m);
  font-weight: 700;
  margin-top: var(--space-s);
}
.comentarios .comentario .info p {
  margin: 0;
}
#seja_membro,
.c_criacao div {
  margin-top: var(--space-xxxl);
}
#seja_membro input[type="text"],
.c_criacao input[type="text"] {
  height: 40px;
  width: 100%;
}
#seja_membro label,
.c_criacao label {
  color: var(--color-black);
  font-size: inherit;
  font-weight: 900;
}
.c_criacao label small {
  font-weight: normal;
}
#perfil_side {
  font-family: var(--font-main);
  padding: 0 32px;
}
#perfil_side p {
  color: var(--color-gray-dark);
  font-size: var(--font-size-xl);
  font-weight: 900;
  margin: 0;
}
#perfil_side .avata {
  border: 4px solid;
  border-radius: var(--border-radius-circle);
  height: 115px;
  margin: 0 auto;
  overflow: hidden;
  width: 115px;
}
#perfil_side .avata img {
  margin-left: -10px;
  margin-top: -40px;
}
.perfil-dropdown {
  align-items: center;
  display: flex;
  height: 64px;
}
.perfil-dropdown .avata {
  border: 4px solid;
  border-radius: 25px;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  width: 50px;
}
.perfil-dropdown .avata img {
  margin-left: -4px;
  margin-top: -17px;
}
.perfil-dropdown span {
  margin-left: var(--space-m);
}
#perfil_drop {
  background: var(--color-secondary);
  font-family: var(--font-main);
  padding: var(--space-xl) !important;
  width: fit-content !important;
}
#perfil_drop a.btn {
  margin-left: 0;
}
#perfil_drop p {
  color: var(--color-gray-dark);
  font-size: var(--font-size-xxxl);
  font-weight: 900;
  margin: 0;
}
#perfil_drop .avata {
  border: 4px solid;
  border-radius: var(--border-radius-circle);
  height: 115px;
  margin: 0 auto;
  overflow: hidden;
  width: 115px;
}
#perfil_drop .avata img {
  margin-left: -12px;
  margin-top: -40px;
}
.c_criacao .noticia {
  align-items: center;
  border: 1px solid var(--color-border);
  display: flex;
  padding: var(--space-m);
}
.c_criacao .noticia .banner {
  background-position: center;
  height: 75px;
  margin-right: var(--space-xl);
  width: 135px;
}
.c_criacao .noticia .info p {
  margin: unset;
}
.c_criacao .noticia .info p:nth-child(1),
.c_criacao .noticia .info p:nth-child(3).aguardando {
  color: var(--color-accent);
  font-size: var(--font-size-l);
  font-weight: bold;
  text-transform: uppercase;
}
.c_criacao .noticia .info p:nth-child(3).aprovada {
  color: var(--color-success-alt);
  font-size: var(--font-size-l);
  font-weight: bold;
  text-transform: uppercase;
}
.c_criacao .noticia .btn.laranja {
  background-color: var(--color-secondary) !important;
}
.c_criacao .noticia .btn.verde {
  background-color: var(--color-success) !important;
}
.c_criacao .membros {
  display: flex;
  flex-wrap: wrap;
}
.c_criacao .membro {
  align-items: center;
  border: 1px solid var(--color-border);
  display: flex;
  flex: 1 1 250px;
  margin-right: var(--space-xl);
}
.c_criacao .membro .avatar {
  text-align: center;
  width: 85px;
}
.c_criacao .membro .avatar img {
  margin-top: -30px;
}
.c_criacao .membro .info {
  flex: 1 1;
  font-size: var(--font-size-member);
}
.c_criacao .membro .info p {
  margin: 0;
}
.c_criacao .membro .info p:nth-child(1) {
  font-weight: bold;
}
.c_criacao .membro .info a {
  color: var(--color-accent);
  text-transform: uppercase;
}
@media only screen and (min-width: 993px) {
  #toast-container {
    top: unset;
    bottom: 7%;
  }
}
.search-bar {
  align-items: center;
  background-color: var(--color-light-alt);
  border-radius: var(--border-radius-m);
  display: flex;
  margin-bottom: var(--space-xl);
  max-width: auto;
  overflow: hidden;
}
.search-button {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-white);
  cursor: pointer;
  height: 75px;
  padding: var(--space-xl);
}
.search-input {
  background: transparent;
  border: none;
  flex: 1;
  outline: none;
  padding: var(--space-xl) !important;
}
.search-results {
  background-color: var(--color-light);
  border-radius: var(--border-radius-m);
  margin-top: var(--space-xxl);
  padding: var(--space-m);
  text-align: center;
}
